#mainLoginComponent{
    height: 85vh;
    background-color: rgba(233, 233, 233, 0.459);
    padding-top: 14vh;
    margin:0;
}
#loginContBox{
    width: 40%;
    margin: auto;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-radius: 5px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 2px 4px rgba(230, 230, 230, 0.322);
}

@media only screen and (max-width: 1600px) {
    #mainLoginComponent{
        height: 93vh;
        padding-top: 6vh;
    }
    #loginContBox{
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}